.App {
    background: $dark1;
    width: 100%;
    height: 100vh;
    color: $pink1;
    font-family: $pt-regular;
    display: grid;
}



@media only screen and (max-width: 600px){

.App{
    grid-template-columns: 100%;
    grid-template-rows: 15% 65% 15%;
    grid-template-areas: 
    "Search"
    "Home"
    "Playing";
}

}
