.App {
    background: $full-black;
    width: 100%;
    height: 100vh;
    color: $pink1;
    font-family: $pt-regular;
    display: grid;
    grid-template-columns: 10% 70% 20%;
    grid-template-rows: 100%;
    grid-template-areas: 
    "Nav Home Playing"
    ;
}

// Icon config for desktop [normal]
.Icon {
    width: 35px;
    height: 35px;
}

.b-test {
    border: 2px solid white;
}

@media only screen and (max-width: 1200px){
    .App{
        grid-template-columns: 10% 90%;
        grid-template-rows: 80% 20%;
        grid-template-areas: 
        "Nav Home"
        "Playing Playing"
        ;
    }
}


@media only screen and (max-width: 600px){

   .App{
    grid-template-columns: 100%;
    grid-template-rows: 15% 70% 15%;
    grid-template-areas: 
    "Nav"
    "Home"
    "Playing"
    ;
   }

}

