.Controller {
    
    width: 100%;
    height: 100%;
    position: absolute;
    width: 90%;
    height: 150px;
    bottom: 30px;
}

.moment-timer{
 
    padding-left: .1rem;
    padding-right: .1rem;
    min-width: 1rem;
    max-width: 2.5rem;
}
.feel-dark{
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.31);

    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.3px);
    -webkit-backdrop-filter: blur(7.3px);
}

.feel-light{
/* From https://css.glass */
background: rgba(0, 0, 0, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
}

.controller-setting{
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 10pt;
   justify-content: space-evenly;
    flex-direction: column;
}

.controller-info{
    padding: 0.2rem;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: no-wrap;
    position: relative;
}

.logo-alk{
    position: absolute;
    left: 0.5rem;
    top: -0.2rem;
    background: url('../../static/logo_new/alktune_medium_png.png') no-repeat center;
    width: 35px;
    height: 35px;    
    background-size: 100%;
    
}


.controller-holder{
    width: 100%;
    text-align: center;
   
}

.controller-song{
    width: 100%;
    display: block;
}

.controller-artist{
    color: $gray1;
    margin: 0 auto;
}

.controller-action{
    width: 100%;
    height: 40%;
    display: flex;
    min-width: 100%;

    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.controller-toggle{

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@media only screen and (max-width: 1200px){
    .Controller{
        top: 1%;
        width: calc(79vw - 150px);
        height: 100px;
        top: 20%;
        left: 150px;
      
        // background: $full-black;
    }
}

@media only screen and (max-width: 600px){
    .Controller{
        width: 70%;
        left: 27%;
        top: 5%;
        height: calc(100% - 10%);
        background: $full-black;
      
    }

    .logo-alk{
        display: none;
    }

    
    .controller-info{
        font-size: 9pt;
    }
    .controller-artist{
        color: $full-white;
    }

    //  .Playing{
    //     transform: translateY(-83.5%);
    //     height: 90vh;
    //     background: black;

    // }

    
}