.Home {
    width: 100%;
    height: 100%;
    grid-area: Home;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 45% 45% ;
    grid-template-areas: 
    "Search"
    "Featured"
    "Trending"
    ;
}

.Featured {
    grid-area: Featured;
    padding: 1rem;
   
}


.Trending {
    grid-area: Trending;

}

