<<<<<<< HEAD
.Nav {
    width: 100%;
    height: 100%;
    background: $gray1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    min-height: max-content;
}

.tooltip{
    padding: 0.2rem 0.5rem;
    background: $gray1;
    
}


.nav-link{
    width: fit-content;
    height: fit-content;
    display: flex;
    text-decoration: none;
    color: $full-black;    
    &:active{
        color: none;
    }
    &:visited{
        color: none;
    }
    
}

.escape-header{
    
    display: flex;
    justify-content: space-evenly;
    input {
        width: 100%;
        font-size: 12pt;
        cursor: pointer;
        height: fit-content;
        text-align: center;
        padding: 0.5rem 0;
    }
}

@media only screen and (max-width: 1200px){
    .Nav{

    }

    .tooltip{
        padding: 0.2rem;
    }
}

@media only screen and (max-width: 600px){
 .Nav{
    display: none;
 }   
=======
.Nav{
    width: 100%;
    height: 100%;
    grid-area: Nav;


    // TESTING
    // border: 2px solid $pink1;
}




@media only screen and (max-width: 600px){
    .Nav {
        display: none;
    }
>>>>>>> ea91c9e0a3775af9e3974c66833936ff40b15d42
}