.Playlist-Comp{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 10% 90%;
    grid-template-areas: 
    "Search"
    "Playlist"
    ;
}

.Search{
    grid-area: Search;
}

.playlist-holder{
    grid-area: Playlist;
    height: 100%;
    width: 95%;
    justify-self: center;
}


.playlist-header{
    width: 100%;
    height: fit-content;
    display: flex;
    border-bottom: 2px solid white;
    gap: 1rem;
    padding-bottom: 0.5rem;
    .navleft{
        width: fit-content;
        display: flex;

        .link-playlist{
            display: flex;
            align-items: center;
        }

        .goback{
            width: 25px;
            height: 25px;
            background: url(../../static/icons/pointup_white.png) center no-repeat;
            display: inline-block;
            background-size: 15px;
            transform: rotate(270deg);
        }

        .to{
            font-size: 14pt;
            text-decoration: underline;
        }
    }
}

.options{
    width: 100%;
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
        width: 100%;
        display: flex;
        .Icon{
            width: 35px;
            height: 35px;
            background-size: 20px;
            display: block;
            transition: outline 0.2s, transform 0.2s ;
            &:hover{
                outline: 1px solid $gray1;
            }
            border-radius: 50%;
        }

            &__text{
                align-self: center;
                width: 100%;
            }
}




.playlists{
    width: 100%;
    overflow-y: auto;
    // border: 2px solid white;
    box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.7);
    max-height: 750px;
    &__ul{
        width: 100%;
        list-style: none;
        min-height: 250px;
        max-height: 730px;
        
        // &__selected{
        //     background: blue;
        // }
    }

    &__track{
        width: 100%;
        height: 100px;
        display: flex;
        // background: blue;
        padding: 0.1rem;
        margin-bottom: 0.5rem;
        transition: background 0.2s;
        &:hover{
            background: $gray1;
        }
    }

    &__img{
        width: fit-content;    
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 85px;
            height: 85%;
        
        }
    }

    &__name_holder{
        display: flex;
        flex: 1;
        width: 100%;
        justify-content: center;
        align-items: center;
        // border: 2px solid black; 
    }

    &__length{
    
        display: flex;
        flex: 1;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    &__select{
        flex: 1;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    // when playlists is selected by the options butten, turn to bg to blue
    &__selected{
        background: rgba(0, 0, 255, 0.514);
        border: 2px solid blue;

        &:hover{
            background: rgba(0, 0, 255, 0.514) ;
        }
        
    }

    &__empty{
        color: gray;
        &__text{
           i {
            text-decoration: underline;
            color: white;
            cursor: pointer;
           }
        }
    }
}

.playlists__box{
    width: 25px;
    height: 25px;
    display: flex;
    border-radius: 50%;
    border: 2px solid white;
    padding: 0.1rem;
    justify-content: center;
    align-items: center;
    .addbox{
        width: 100%;
        height:100%;
        background: white;
        display: flex;
        border-radius: 51%;
        transform: translate(0.5px);
        align-self: center;
    }
}


.playlist-input{
    width: 100%;
    height: fit-content;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    text-indent: 1rem;
    border-radius: 10px;
    border: none;
    background: none;
    color: white;
    outline: 2px solid white;
    font-size: 12pt;
    &:focus{
        outline: 2px solid white;
    }
}


.modal-options{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.modal-button{
    width: 100px;
    font-size: 17pt;
    font-family: $poppins;
    background: none;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: hover 0.26;
    &:hover{
        background: white;
        color: black;
    }
}

.modal-delete{
        display: flex;
        flex-direction: column;
        align-items: center;
        div{
            display: flex;
            justify-content: space-evenly;
            margin-top: 1rem;
            width: 100%;
        }
}



@media only screen and(max-width: 600px){
    .playlists{

        &__img{
            img{
                width: 75px;
                height: 75px;
            }
        }

        &__name{
            font-size: 10pt;
        }

        &__box{
            width: 20px;
            height: 20px;
        }

        &__ul{
            min-height: 600px;
        }
    }
}