.Playing {
   width: 100%;
   height: 100%;
   grid-area: Playing;
   padding: 0.5rem;
   display: flex;
   flex-direction: column;
   position: relative;
   background: $gray1;
   box-shadow: 5px 10px 3px 2px;
}
.nexton{
   display: flex;
   flex-direction: column;
   flex: 1;
}

.playing-track{
 
//  height: 450px;

 overflow-y: auto;
 overflow-x: hidden;
 border-radius: 10px;
 padding: 0.5rem;


 .img-track{
   width: 55px;
 }

 .playing-song{
   
}


}


.Player{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   flex: 0 1 350px;
   height: 100%;
   position: relative;
}

.player-holder{
   background: url('https://unsplash.it/500/500') no-repeat center;
   background-size: 100% 100%;
   padding: 1rem;
   width: 100%;
   
   max-width: 450px;
 
   height: 90%;
 
}




.show-playlist{
   display: none;
}


@media only screen and (max-width: 1200px){
  .playing-track{
   span {
      font-size: 12pt;
   }
  }

  .show-playlist{
   display: block;
   position: absolute;
   right: 5%;
  }

  .nexton{
   display: none;
  }
  .show-nexton{
   display: block;
   width: 350px;
   height: 350px;
   overflow-y: scroll;
   position: absolute;
   bottom: 160px;
   padding: 0.5rem;
   right: 1%;
   z-index: 6;
   /* From https://css.glass */
   background: rgba(255, 255, 255, 0);
   border-radius: 15px;
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
   backdrop-filter: blur(10.6px);
   -webkit-backdrop-filter: blur(10.6px);
   
   .playing-track{
      overflow: hidden;
   }
  }
   .playlist-medium{
      display: block;
   }

  .Player{
   justify-content: flex-start;

  }

  .player-holder{
   width: 125px;
   height: 60%;
  }
}





@media only screen and (max-width: 600px){
   .Playing{
      padding: 1rem;
      background: none;
      
      position: relative;
   }
   .playlist-medium{
      display: none;
   }
   .arrow-up{
      background: url(../../static/icons/pointup_white.png) center no-repeat;
      display: block;
      width: 25px;
      height: 25px;
      position: absolute;
      left: 50%;
      top: -20%;
      cursor: grab;
   }
   .line{
      width: 80%;
      position: absolute;
      display: block;
      width: 90%;
      top: 3%;
      height: 1px;
      background: $full-white;
      align-self: center;
   }
   .Player{
      padding: 0.3rem;
      
      justify-content: space-between
   }
   
   .nexton{
     display: none;
   }

   .playlist-mobile{
      display: none;
   }
   .player-holder{
      width:  85px;
      height:  85px;
      border-radius: 0px;
   }

   .MiniPlayer{
      width: 100%;
      height: 50px;
     background: red;
   
   }
      
   .showMiniPlayer{
      height: 100%;
      position: absolute;
      /* From https://css.glass */
      background: rgba(0, 0, 0, 0);
      border-radius: 20px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(10.6px);
      -webkit-backdrop-filter: blur(10.6px);
      z-index: 16;
      bottom: 0px;
      display: flex;
      flex-direction: column-reverse;
      max-height: 85%;
      border-radius: 10px;
     

      
      .line{
         display: none;
      }
     .arrow-up{
      top: -5%;
      z-index: 66;
     }
     .nexton{
      display: flex;
      flex: 1;
      height: 40%;
     }


     .Controller{
      position: initial;
      // max-height: 150px;
      width: 100%;
      height: 100%;
      display: flex;
      background: inherit;
      flex: 1;
     }

     .controller-setting{
     height: fit-content;
     width: 100%;
     
     }
     .Player{
     
      display: flex;
      flex-direction: column;
      flex: 2;
      
      height: 100%;
      position: static;
  
    .player-holder{
      height: 100% ;
      width: 85%;
      flex: 2 1;
    } 
    .playing-track{
      height: 100%;
    }
    .controller-song{
      font-size: 16pt;
      margin-top: 1rem;
   }
   .controller-artist{
      font-size: 16pt;
   }
   .mini{
      background-size: 25px;
      height: 35px;
      width: 35px;
   }
 }
}

}



