.Roller{
    height: 100%;
    width: 100%;
    display: none;
    
}

.item-roller{
border: none;
width: fit-content;
background: url(../../static/logo_new/alktune_logo.svg) center no-repeat;
    img{
        
        object-fit: cover;
    }
  }


  @media only screen and (max-width: 600px){
    .Roller{
        display: block;
    }
  }