.Roller{
    height: 100%;
    width: 100%;
    display: none;

}

.item-roller{
border: none;
width: 50%;
height: 100%;

}

@media only screen and (max-width: 600px){
    .Roller{
        display: flex;
       
    }
  }