.Search {
   width: 100%;
   height: 100%;
   grid-area: Search;
   display: flex;
   gap: 0.2rem;
   flex: 0 0 25px;
   align-items: center;
   padding-left: 1rem;
   padding-right: 1rem;
   justify-content: center;
   position: relative;
   z-index: 23;
}

.search-holder{
    width: 100%;
    height: 45px;
    display: flex;
    background: $gray1;
    border-radius: 40px;
    padding-right: 1rem;    
    z-index: 4;
}
.searchbar{
    width: 100%;
    height: 100%;
    color: $full-white;
    background: transparent;
    border: none;
    text-indent: 1rem;
    font-family: $pt-bold;  
    
    &:focus{
        outline: white;
    }
}

.search-menu-icon{
    display: none;
}


.show-menu{
    background: $full-white;
    position: absolute;
    border-radius: 10px;
    display: none;
    width: 150px;
    right: 5%;
    top: 65px;
    z-index: 2;
    flex-direction: column;
    text-align: right;
    opacity: 0;
    animation: showMenu 0.2s ease-in forwards;
    

    .mobile-link{
        user-select: none;
        cursor: pointer;
        color: black;
        padding: 1rem;
        text-decoration: none;
        &:visited{
            color: black;
        }
        &:active{
            color: black;
        }
    }
}

.search-results{
    width: calc(100% - 2.4%);
    min-height: fit-content;
    border-radius: 25px;
    padding-top: 3rem;
    top: 28%;
    left: 1.1%;
    opacity: 0; 
    background: $gray1;
    position: absolute;
    animation: showResults 0.2s ease-in forwards;
   
}


.result-wrapper{
    height: fit-content;
    width: 100%;
    min-height: fit-content;
}
.list-results{
    width: 100%;
    overflow: hidden;
    height: fit-content;
    padding-bottom: 1.2rem;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: $gray1;
    padding: 0.5rem;
}
.Track{
    &:hover{
        background: gray !important;
    }
}
.search-name{
    padding: 1rem;
    display: block;
    cursor: pointer;
    &:hover{
        background: gray;
    }
}

.search-result-map{
ul{
    background: green;
}
}

@keyframes showResults {
    
    to {
        height: 150px;
        top: 29%;
        opacity: 1;
    }
}

@keyframes showMenu {
    to {
        opacity: 1;
    }
}

@media only screen and(max-width: 1200px){
.show-m{
    display: none;
}
.Search {
    padding: 1rem;
}

}



@media only screen and(max-width: 600px){
    .search-menu-icon{
        display: block;
    }
    .result-wrapper{
        img{
            width: 15px;
    
        }
    }
    .search-results{
        width: 82.8%;
        left: 3.6%;
    }
    .show-m{
        display: flex;
    }
    
}