.Track{
width: 100%;
display: flex;
flex-direction: row;
align-items: center;

gap: 1rem;


border-bottom: 2px solid gray;
}

.track-holder{
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    padding: 0.4rem;
    user-select: none;
}

.track-cover-img {
    width: 90px;
    max-width: 100px;
    background-size: 100% 100%;
}

.track-name{

}
.artist-name{
    color: #ACADAF;
}
.t-flex-col{
    flex-direction: column;
}

.f-1{
    flex: 1;
}

@media only screen and (max-width: 1200px){
    .track-cover-img{
        width: 55px;
    }
}
@media only screen and (max-width: 600px){
    
    .Track{
        gap: 0rem;
    }
    .track-holder{
        font-size: 8pt;
    }

    .track-name{
        flex: 1;
       
    }
    .track-album{
        // flex: 1;
        // border: 2px solid white;
        text-align: center;
    }
    
}