.Track{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    border-bottom: 2px solid gray;
    position: relative;
    cursor: pointer;
}

.track-holder{
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    padding: 0.4rem;
    user-select: none;
    
}

.show-more{
    position: absolute;
    background: yellow;
    width: 0%;
    // transform: translate(-49%);
    right: 2%;
    // border-radius: 25px;
    height: 60%;
    animation: show-options-more .25s ease-in forwards;
}

.track-cover-img {
    width: 90px;
    max-width: 100px;
    background-size: 100% 100%;
}

.artist-name{
    color: #ACADAF;
}

.more-options{
  
    display: none;
    position: relative;
}




@keyframes show-options-more{
    to{
        width: 70%;
    }
}


.t-flex-col{
    flex-direction: column;
}

.f-1{
    flex: 1;
}

@media only screen and (max-width: 1200px){
    .track-cover-img{
        width: 55px;
    }
}
@media only screen and (max-width: 600px){
    
    .Track{
        gap: 0rem;
    }
    .track-holder{
        font-size: 8pt;
    }

    .track-name{
        flex: 1;
       
    }
    .track-album{
        // flex: 1;
        // border: 2px solid white;
        text-align: center;
    }
    
}