.button-primary{
    border: 2px solid $pink1;
    border-radius: 10px;
    color: $pink1;
    font-family: $poppins;
    background: transparent;
    font-size: $f-m;
    
    &:hover{
        background: $pink1;
        color: $dark1;
    }
}


// @@ Links @@@

.link-primary{
    text-decoration: none;
    border: none;
    color: white;
    width: 100%;
    &:active{ 
        text-decoration: none;
        color: white;
    }

    &:default{
        color: white;
    }
    &:visited{
        text-decoration: none;
        color: white;
    }

    &::before{
        color: white;
    }
    &::after{
        color: white;
    }
}