// main PINK colors: 
$pink1: #fff0f3;
$pink2: #ffccd5 ;
$pink3: #ffb3c1;
$pink4: #ff8fa3;
$pink5: #ff758f;
$pink6: #ff4d6d;
$pink7: #c9184a;
$pink8: #a4133c;
$pink9: #800f2f;
$pink10:#590d22;

// main DARK colors: 

$dark1: #0d060f; 
$dark2: #12100e;
$dark3: #001220;

$black1: #131515;

$gray8: #272725ff;
$gray7: #2b2b29ff;
$gray6: #323230ff;
$gray5: #393938ff;
$gray4: #484847ff;
$gray3: #525251ff;
$gray2: #5d5d5bff;
$gray1: #676765ff;


// font sizes

$body-text: 16px;
$f-sm: 12pt;
$f-m: 24pt;
$f-l: 38pt;
$f-xl: 52pt;

@font-face {
    font-family: 'riffic.bold';
    src: url('../font/riffic.bold.ttf');
}

@font-face{
    font-family: 'PTSans-Bold', sans-serif;
    src: url('../font/PTSans-Bold.ttf')
}

@font-face{
    font-family: 'PTSans-BoldItalic', sans-serif;
    src: url('../font/PTSans-BoldItalic.ttf');
}

@font-face{
    font-family: 'PTSans-Italic', sans-serif;
    src: url('../font/PTSans-Italic.ttf');
}

@font-face{
    font-family: 'PTSans-Regular', sans-serif;
    src: url('../font/PTSans-Regular.ttf');
}


@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

// font cover
$riffic: 'riffic.bold', sans-serif;
$poppins: 'Poppins', sans-serif;
$pt-bold: 'PTSans-Bold', $poppins;
$pt-italic: 'PTSans-Italic', $poppins, sans-serif;
$pt-regular: 'PTSans-Regular', $poppins, sans-serif;

