@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@font-face {
  font-family: 'riffic.bold';
  src: url("../font/riffic.bold.ttf"); }

@font-face {
  font-family: 'PTSans-Bold', sans-serif;
  src: url("../font/PTSans-Bold.ttf"); }

@font-face {
  font-family: 'PTSans-BoldItalic', sans-serif;
  src: url("../font/PTSans-BoldItalic.ttf"); }

@font-face {
  font-family: 'PTSans-Italic', sans-serif;
  src: url("../font/PTSans-Italic.ttf"); }

@font-face {
  font-family: 'PTSans-Regular', sans-serif;
  src: url("../font/PTSans-Regular.ttf"); }

.button-primary {
  border: 2px solid #fff0f3;
  border-radius: 10px;
  color: #fff0f3;
  font-family: "Poppins", sans-serif;
  background: transparent;
  font-size: 24pt; }
  .button-primary:hover {
    background: #fff0f3;
    color: #0d060f; }

.link-primary {
  text-decoration: none;
  border: none; }
  .link-primary:active {
    text-decoration: none; }
  .link-primary:visited {
    text-decoration: none; }

.entrance {
  width: 100%;
  height: 100vh;
  background: url(../../static/entrance_bg_desktop.svg) no-repeat;
  min-height: 900px;
  padding: 1rem; }
  .entrance .logo {
    width: 100%;
    height: fit-content;
    text-align: right; }
    .entrance .logo img {
      width: 250px;
      padding: 0.5rem; }
  .entrance .wrapper-entrance {
    width: 100%;
    display: flex; }
    .entrance .wrapper-entrance .usr-left {
      font-family: "riffic.bold", sans-serif;
      color: #fff0f3;
      font-size: 38pt;
      width: 60%; }
      .entrance .wrapper-entrance .usr-left .heading h1:nth-child(2) {
        text-indent: 1rem; }
      .entrance .wrapper-entrance .usr-left .heading h1:nth-child(3) {
        text-indent: 2rem; }
      .entrance .wrapper-entrance .usr-left .usr-txt {
        margin-top: 5rem;
        text-align: center; }
    .entrance .wrapper-entrance .usr-right {
      display: flex;
      font-family: "Poppins", sans-serif;
      width: 40%;
      align-items: center; }
      .entrance .wrapper-entrance .usr-right .redir {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        border: 2px solid #fff0f3;
        border-radius: 10px;
        width: fit-content;
        margin: 0 auto;
        height: 450px;
        padding: 1rem; }
        .entrance .wrapper-entrance .usr-right .redir__btn {
          width: 250px;
          height: fit-content;
          cursor: pointer; }

@media only screen and (min-height: 751px) {
  .entrance {
    min-height: 690px; } }

@media only screen and (max-width: 1229px) {
  .usr-left .heading {
    font-size: 24pt; }
  .usr-left .usr-txt span {
    font-size: 24pt; } }

@media only screen and (max-width: 849px) {
  .entrance {
    min-width: 330px; }
    .entrance .logo > img {
      width: 150px; }
  .wrapper-entrance {
    flex-direction: column;
    gap: 1rem; }
    .wrapper-entrance .usr-left {
      width: 100% !important; }
      .wrapper-entrance .usr-left .heading {
        display: flex;
        justify-content: center; }
      .wrapper-entrance .usr-left .usr-txt {
        font-size: 16pt; }
    .wrapper-entrance .usr-right {
      width: 100% !important; }
      .wrapper-entrance .usr-right .redir {
        height: fit-content !important;
        gap: 4rem; } }

@media only screen and (max-width: 480px) {
  .entrance {
    background: url(../../static/entrance_bg_mobile.svg) no-repeat;
    object-fit: cover; } }

.entrance-container {
  display: flex;
  width: 100%;
  height: 100vh;
  min-height: 900px;
  background: #0d060f;
  justify-content: center;
  align-items: center; }
  .entrance-container .form-control {
    display: flex;
    flex-direction: column;
    background: #fff0f3;
    width: 550px;
    height: fit-content;
    border-radius: 20px;
    animation: fadeIn 0.3s ease-in;
    padding: 1rem;
    align-items: center;
    gap: 1rem;
    font-family: "Poppins", sans-serif; }
    .entrance-container .form-control .logo {
      width: 100%;
      text-align: right; }
      .entrance-container .form-control .logo img {
        width: 150px; }
    .entrance-container .form-control .form-type {
      padding-bottom: 1rem;
      font-size: 24pt;
      width: 90%;
      border-bottom: 2px solid #0d060f;
      text-align: center; }
    .entrance-container .form-control .form-register {
      text-align: center;
      width: 100%;
      height: 70%; }
      .entrance-container .form-control .form-register .input-message {
        display: flex;
        flex-direction: column;
        height: fit-content; }
        .entrance-container .form-control .form-register .input-message:not(p) {
          align-items: center; }
        .entrance-container .form-control .form-register .input-message p {
          color: #a31818; }
      .entrance-container .form-control .form-register .input {
        margin-top: 1rem;
        width: 100%;
        max-width: 80%;
        font-family: "Poppins", sans-serif;
        height: 50px;
        border: 2px solid grey;
        border-radius: 0.5rem;
        background: #fff0f3; }
        .entrance-container .form-control .form-register .input:not(input[type=submit]) {
          text-indent: 1rem; }
      .entrance-container .form-control .form-register .submit {
        color: #0d060f;
        cursor: pointer;
        font-size: 12pt;
        text-align: center; }

@keyframes fadeIn {
  0% {
    transform: translateX(300px);
    opacity: 0; }
  100% {
    opacity: 1;
    transform: translateX(0px); } }

@media only screen and (max-width: 768px) {
  .entrance-container {
    padding: 2rem; } }

.App {
  background: #0d060f;
  width: 100%;
  height: 100vh;
  color: #fff0f3;
  font-family: "PTSans-Regular", "Poppins", sans-serif, sans-serif;
  display: grid;
  min-height: 700px; }

@media only screen and (max-width: 600px) {
  .App {
    grid-template-columns: 100%;
    grid-template-rows: 15% 70% 15%;
    grid-template-areas: "Search" "Home" "Playing"; } }

.Search {
  width: 100%;
  height: 100%;
  border: 2px solid #fff0f3;
  grid-area: Search;
  display: flex;
  justify-content: center;
  align-items: center; }
  .Search_input {
    width: 90%;
    background: #131313;
    color: white;
    font-family: "PTSans-Italic", "Poppins", sans-serif, sans-serif;
    border: none;
    text-indent: 1rem; }
    .Search_input:focus {
      outline: 1px solid #fff0f3; }
  .Search_icon {
    background: url(); }

@media only screen and (max-width: 600px) {
  .Search_input {
    height: 35px;
    border-radius: 10px; } }

.Home {
  width: 100%;
  height: 100%;
  border: 2px solid #fff0f3;
  grid-area: Home; }

.Playing {
  width: 100%;
  height: 100%;
  border: 2px solid #fff0f3;
  grid-area: Playing; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
