@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@font-face {
  font-family: 'riffic.bold';
  src: url("../font/riffic.bold.ttf"); }

@font-face {
  font-family: 'PTSans-Bold', sans-serif;
  src: url("../font/PTSans-Bold.ttf"); }

@font-face {
  font-family: 'PTSans-BoldItalic', sans-serif;
  src: url("../font/PTSans-BoldItalic.ttf"); }

@font-face {
  font-family: 'PTSans-Italic', sans-serif;
  src: url("../font/PTSans-Italic.ttf"); }

@font-face {
  font-family: 'PTSans-Regular', sans-serif;
  src: url("../font/PTSans-Regular.ttf"); }

.button-primary {
  border: 2px solid #fff0f3;
  border-radius: 10px;
  color: #fff0f3;
  font-family: "Poppins", sans-serif;
  background: transparent;
  font-size: 24pt; }
  .button-primary:hover {
    background: #fff0f3;
    color: #0d060f; }

.link-primary {
  text-decoration: none;
  border: none; }
  .link-primary:active {
    text-decoration: none; }
  .link-primary:visited {
    text-decoration: none; }

.entrance {
  width: 100%;
  height: 100vh;
  background: url(../../static/entrance_bg_desktop.svg) no-repeat;
  min-height: 900px;
  padding: 1rem; }
  .entrance .logo {
    width: 100%;
    height: fit-content;
    text-align: right; }
    .entrance .logo img {
      width: 250px;
      padding: 0.5rem; }
  .entrance .wrapper-entrance {
    width: 100%;
    display: flex; }
    .entrance .wrapper-entrance .usr-left {
      font-family: "riffic.bold", sans-serif;
      color: #fff0f3;
      font-size: 38pt;
      width: 60%; }
      .entrance .wrapper-entrance .usr-left .heading h1:nth-child(2) {
        text-indent: 1rem; }
      .entrance .wrapper-entrance .usr-left .heading h1:nth-child(3) {
        text-indent: 2rem; }
      .entrance .wrapper-entrance .usr-left .usr-txt {
        margin-top: 5rem;
        text-align: center; }
    .entrance .wrapper-entrance .usr-right {
      display: flex;
      font-family: "Poppins", sans-serif;
      width: 40%;
      align-items: center; }
      .entrance .wrapper-entrance .usr-right .redir {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        border: 2px solid #fff0f3;
        border-radius: 10px;
        width: fit-content;
        margin: 0 auto;
        height: 450px;
        padding: 1rem; }
        .entrance .wrapper-entrance .usr-right .redir__btn {
          width: 250px;
          height: fit-content;
          cursor: pointer; }

@media only screen and (min-height: 751px) {
  .entrance {
    min-height: 690px; } }

@media only screen and (max-width: 1229px) {
  .usr-left .heading {
    font-size: 24pt; }
  .usr-left .usr-txt span {
    font-size: 24pt; } }

@media only screen and (max-width: 849px) {
  .entrance {
    min-width: 330px; }
    .entrance .logo > img {
      width: 150px; }
  .wrapper-entrance {
    flex-direction: column;
    gap: 1rem; }
    .wrapper-entrance .usr-left {
      width: 100% !important; }
      .wrapper-entrance .usr-left .heading {
        display: flex;
        justify-content: center; }
      .wrapper-entrance .usr-left .usr-txt {
        font-size: 16pt; }
    .wrapper-entrance .usr-right {
      width: 100% !important; }
      .wrapper-entrance .usr-right .redir {
        height: fit-content !important;
        gap: 4rem; } }

@media only screen and (max-width: 480px) {
  .entrance {
    background: url(../../static/entrance_bg_mobile.svg) no-repeat;
    object-fit: cover; } }

.entrance-container {
  display: flex;
  width: 100%;
  height: 100vh;
  min-height: 900px;
  background: #0d060f;
  justify-content: center;
  align-items: center; }
  .entrance-container .form-control {
    display: flex;
    flex-direction: column;
    background: #fff0f3;
    width: 550px;
    height: fit-content;
    border-radius: 20px;
    animation: fadeIn 0.3s ease-in;
    padding: 1rem;
    align-items: center;
    gap: 1rem;
    font-family: "Poppins", sans-serif; }
    .entrance-container .form-control .logo {
      width: 100%;
      text-align: right; }
      .entrance-container .form-control .logo img {
        width: 150px; }
    .entrance-container .form-control .form-type {
      padding-bottom: 1rem;
      font-size: 24pt;
      width: 90%;
      border-bottom: 2px solid #0d060f;
      text-align: center; }
    .entrance-container .form-control .form-register {
      text-align: center;
      width: 100%;
      height: 70%; }
      .entrance-container .form-control .form-register .input-message {
        display: flex;
        flex-direction: column;
        height: fit-content; }
        .entrance-container .form-control .form-register .input-message:not(p) {
          align-items: center; }
        .entrance-container .form-control .form-register .input-message p {
          color: #a31818; }
      .entrance-container .form-control .form-register .input {
        margin-top: 1rem;
        width: 100%;
        max-width: 80%;
        font-family: "Poppins", sans-serif;
        height: 50px;
        border: 2px solid grey;
        border-radius: 0.5rem;
        background: #fff0f3; }
        .entrance-container .form-control .form-register .input:not(input[type=submit]) {
          text-indent: 1rem; }
      .entrance-container .form-control .form-register .submit {
        color: #0d060f;
        cursor: pointer;
        font-size: 12pt;
        text-align: center; }

@keyframes fadeIn {
  0% {
    transform: translateX(300px);
    opacity: 0; }
  100% {
    opacity: 1;
    transform: translateX(0px); } }

@media only screen and (max-width: 768px) {
  .entrance-container {
    padding: 2rem; } }

.App {
  background: #000000;
  width: 100%;
  height: 100vh;
  max-height: fit-content;
  color: #fff0f3;
  font-family: "PTSans-Regular", "Poppins", sans-serif, sans-serif;
  display: grid;
  grid-template-columns: 5% 75% 20%;
  grid-template-rows: 100%;
  grid-template-areas: "Nav Home Playing"; }

.Icon {
  width: 35px;
  height: 35px; }

.b-test {
  border: 2px solid white; }

@media only screen and (max-width: 1200px) {
  .App {
    grid-template-columns: 10% 90%;
    grid-template-rows: 80% 20%;
    grid-template-areas: "Nav Home" "Playing Playing"; } }

@media only screen and (max-width: 600px) {
  .App {
    grid-template-columns: 100%;
    grid-template-rows: 85% 15%;
    grid-template-areas: "Home" "Playing"; } }

.Nav {
  width: 100%;
  height: 100%;
  background: #1C1C1C;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  min-height: max-content; }

.tooltip {
  padding: 0.2rem 0.5rem;
  background: #1C1C1C; }

@media only screen and (max-width: 1200px) {
  .tooltip {
    padding: 0.2rem; } }

@media only screen and (max-width: 600px) {
  .Nav {
    display: none; } }

.Search {
  width: 100%;
  height: 100%;
  grid-area: Search;
  display: flex;
  gap: 0.2rem;
  flex: 0 0 25px;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  justify-content: center; }

.search-holder {
  width: 100%;
  height: 45px;
  display: flex;
  background: #1C1C1C;
  border-radius: 40px;
  padding-right: 1rem; }

.searchbar {
  width: 100%;
  height: 40px;
  color: #FFF;
  background: transparent;
  border: none;
  text-indent: 1rem;
  font-family: "PTSans-Bold", "Poppins", sans-serif; }
  .searchbar:focus {
    outline: none; }

@media only screen and (max-width: 1200px) {
  .Search {
    padding: 1rem; } }

.Home {
  width: 100%;
  height: 100%;
  grid-area: Home;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: minmax(100px, 10%) minmax(350px, 45%) minmax(250px, 45%);
  grid-template-areas: "Search" "Featured" "Trending"; }

.Featured {
  grid-area: Featured;
  border: 2px solid green;
  display: flex;
  flex-direction: column;
  gap: 0.5rem; }

.feature-holder {
  width: 100%;
  height: 100%;
  max-height: min-content;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

.feature-header {
  padding-left: 1rem; }

.item-holder {
  max-width: 350px;
  display: flex;
  justify-content: center;
  align-items: center; }

.img-cover {
  width: 90%;
  max-width: 350px; }

@media only screen and (max-width: 1200px) {
  .item-holder {
    height: 100%; }
    .item-holder img {
      width: 80%; } }

.Trending {
  grid-area: Trending;
  padding: 1rem; }

.trending-ul {
  width: 100%;
  height: 100%;
  list-style: none; }

.Playing {
  width: 100%;
  height: 100%;
  border: 2px solid #fff0f3;
  grid-area: Playing;
  padding: 0.5rem;
  display: flex;
  flex-direction: column; }

.nexton {
  display: flex;
  flex-direction: column;
  flex: 1 0 450px; }

.playing-track {
  outline: 2px solid white;
  height: 450px;
  overflow-y: scroll;
  padding: 0.2rem; }
  .playing-track img {
    width: 55px; }
  .playing-track .track-album {
    display: none; }
  .playing-track .track-name {
    width: 100%; }
  .playing-track .track-length {
    display: none; }
  .playing-track span {
    font-size: 12pt; }

.Player {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%; }

.player-holder {
  background: url("https://unsplash.it/500/500") no-repeat center;
  background-size: 100% 100%;
  padding: 1rem;
  width: 100%;
  display: flex;
  max-width: 450px;
  align-items: flex-end;
  height: 70%; }

.controller {
  width: 100% !important;
  background: red;
  height: 50% !important;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.07);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.1px);
  -webkit-backdrop-filter: blur(9.1px); }

@media only screen and (max-width: 1200px) {
  .playing-track span {
    font-size: 12pt; } }

.Track {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  border-bottom: 2px solid white; }

.track-holder {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  padding: 0.4rem; }

.track-cover-img {
  width: 90px;
  max-width: 100px;
  background-size: 100% 100%; }

.artist-name {
  color: #ACADAF; }

.t-flex-col {
  flex-direction: column; }

.f-1 {
  flex: 1; }

@media only screen and (max-width: 1200px) {
  .track-cover-img {
    width: 55px; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
