@import './abstracts/variables';
@import './abstracts/buttons';
@import './abstracts/media_query';



@import './components/entrance';
@import './components/login&register';
@import './components/App.scss';
@import './components/Nav.scss';
@import './components/Search.scss';
@import './components/Home.scss';
@import './components/Playing.scss';
@import './components/Track.scss';
@import './components/Controller.scss';
@import './components/Roller.scss';
@import './components/playlistcomp.scss';
@import './components/portal.scss';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

