@import './abstracts/variables';
@import './abstracts/buttons';
@import './abstracts/media_query';



@import './components/entrance';
@import './components/login&register';
@import './components/App.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}