@import './abstracts/variables';
@import './abstracts/buttons';
@import './abstracts/media_query';
@import './abstracts/predinfed';


@import './components/entrance';
@import './components/login&register';
@import './components/App.scss';
@import './components/Nav.scss';
<<<<<<< HEAD
@import './components/Search.scss';
@import './components/Home.scss';
@import './components/Playing.scss';
@import './components/Track.scss';
@import './components/Controller.scss';
@import './components/Roller.scss';
@import './components/playlistcomp.scss';
@import './components/portal.scss';
@import './components/APlaylist.scss';
@import './components/playingmobile.scss';
@import './components/Artist.scss';
=======
@import './components/Home.scss';
@import './components/Player.scss';

@import './components/_track.scss';

@import './components/Nexton.scss';
@import './components/Controller.scss';
>>>>>>> ea91c9e0a3775af9e3974c66833936ff40b15d42

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

